        @font-face {
          font-family: "AMORIA";
          src:url("AMORIA.otf");
        }
        body {
            text-align: center;
        }
        ul {
            display: inline-block;
            text-align: left;
        }
        header nav {
            text-align: center;
        }

        h1{
            font-family:"AMORIA";
            font-size: 60px;
            color: palevioletred;
        }
        ul li a {
            color: black;  /* Esto cambia el color de los enlaces y sus puntos. */
        }

        h2,h3{
            font-family:"AMORIA";
            font-size: 30px;
            color:palevioletred;
;
        }
        body{
          background:pink;
        }
        header,main,footer{
          width:800px; /* Establece la anchura de los elementos */
          background:seashell; /* Establece el fondo de los elementos */
          margin:auto; /* Centralo en pantalla */
          padding:20px; /* Pon un poco de margen interior */
        }